* {
  padding: 0;
  margin: 0;
  border: border-box;
}

html {
  background-color: aliceblue;
  font-size: 16px;
  height: auto;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  color: white;
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
  background-color: rgba(49, 49, 206, 0.808);
}

.sidebar-container {
  margin-top: 10%;
  display: flex;
  padding-left: 15%;
  align-items: center;
  height: 3rem;
}

.sidebar-container:hover {
  background-color: rgba(73, 73, 216, 0.808);
  scale: 0.95;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.sidebar-heading {
  text-align: center;
  margin-top: 5%;
}

.profile-text {
  font-size: 1vw;
  letter-spacing: 1.5px;
  padding-left: 1rem;
}

.navbar {
  height: 4vw;
  background-color: white;
  width: auto;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.nav-search {
  height: 2.5vw;
  width: 30vw;
  border: 2px solid rgba(49, 49, 206, 0.808);
  margin-left: 5%;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.search-bar {
  display: flex;
  width: 100%;
  align-items: center;
}

.search-bar > input {
  height: 2vw;
  margin-left: 1rem;
  width: 89%;
  border: none;
  outline: none;
}

.search-bar::placeholder {
  font-size: 1vw;
  color: black;
}

.search-icon {
  font-size: 1.6vw;
  cursor: pointer;
}

.other-icons {
  position: absolute;
  right: 2vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5vw;
  width: 15vw;
  margin-left: 10%;
}

.random {
  display: flex;
  justify-content: space-between;
}

.contanier-wrapper {
  border: 2px slid black;
  display: flex;
  margin-left: 20%;
}

h2,
h3 {
  font-size: 1.3vw;
}
p {
  line-height: 1vw;
  font-size: 0.8vw;
}

.account-toggle {
  width: 25%;
  height: auto;
}

/* .box1 {
  background-color: white;
} */

.accountSettingBox {
  border: none;
  height: auto;
  width: 93%;
  padding: 4%;
  margin: 10% 10% 0 10%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s;
  box-shadow: 0.3rem 0.8rem 1.2rem rgba(0, 0, 0, 0.35);
  transform: scale(0.9);
}

button:hover {
  outline: 2px solid rgb(108, 108, 231);
}

button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container {
  background-color: white;
  max-height: 10vw;
  margin-top: 2.4%;
  margin-right: 2vw;
  width: 57vw;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}

.photo-section {
  height: auto;
  width: auto;
  margin:4% 0 0 7%;
}

.photo-section img {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  cursor: pointer;
}

.text-section {
  margin: 5% 0 2% 4%;
  width: 15rem;
}

.text-section p {
  font-size: 1vw;
  font-style: italic;
}

.upload-section {
  display: grid;
  place-content: center;
  margin: 3vw 2vw 2vw 4vw;
}

.upload-section input[type="file"] {
  display: none;
}

.upload-section label {
  display: inline-block;
  border: 2px solid rgba(49, 49, 206, 0.808);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.4rem 1rem;
  font-size: 1vw;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 0.3rem 0.8rem 1.2rem rgba(0, 0, 0, 0.35);
}

.upload-section:hover {
  scale: 0.97;
}

label:active {
  transform: scale(0.9);
}

.form-container {
  background-color: white;
  height: auto;
  padding-bottom: 2vw;
  margin-right: 2vw;
  width: 57vw;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1vw;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}

.inner-form-container {
  width: 100%;
}

.inner-form-container h1 {
  padding: 2vw 0 0 5vw;
  font-size: 1.9vw;
  margin-bottom: 5%;
}

.form-section {
  letter-spacing: 1.5px;
  height: auto;
  flex-grow: 1;
  margin: 0 auto 0 auto;
  padding: 0.1vw;
  display: flex;
  justify-content: space-evenly;
}

.form-container input {
  width: 20vw;
  padding: 0.5vw;
  margin-bottom: 1vw;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.form-container label {
  border: none;
}

.address-form {
  letter-spacing: 1.5px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 0 auto;
}

.address input {
  width: 46vw;
  font-weight: bold;
}

.update-button {
  font-size: 1vw;
  letter-spacing: 1.5px;
  color: white;
  background-color: rgba(49, 49, 206, 0.808);
  height: 2.5vw;
  width: 52.5vw;
  margin-top: 1vw;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}
