* {
  padding: 0;
  margin: 0;
  border: border-box;
}

html {
  font-size: 16px;
  height: auto;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
  background-color: rgb(243, 229, 171);
}

.sidebar-container {
  margin-top: 10%;
  display: flex;
  padding-left: 15%;
  align-items: center;
  height: 3rem;
}

.sidebar-container:hover {
  background-color: antiquewhite;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.sidebar-heading {
  text-align: center;
  margin-top: 5%;
}

.profile-text {
  padding-left: 1rem;
}

.navbar {
  height: 4rem;
  background-color: #d0bdf4;
  width: auto;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.nav-search {
  height: 2.5rem;
  width: 30vw;
  border: 2px solid red;
  margin-left: 5%;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.search-bar {
  display: flex;
  width: 100%;
  align-items: center;
}

.search-bar > input {
  height: 2rem;
  margin-left: 1rem;
  width: 89%;
  border: none;
  outline: none;
  background-color: #d0bdf4;
}

::placeholder {
  color: black;
}

.search-icon {
  font-size: 1.6rem;
  cursor: pointer;
}

.other-icons {
  height: 2.5rem;
  width: 15vw;
  margin-left: 10%;
}

.random {
  display: flex;
  justify-content: space-between;
}

.contanier-wrapper {
  display: flex;
  margin-left: 20%;
  margin-bottom: 5%;
}

h2,h3{
  font-size: 1.3vw;
}
p {
  line-height: 1vw;
  font-size: .8vw;
}

.account-toggle {
  width: 25%;
  height: 50rem;
}

.accountSettingBox {
  height: auto;
  width: 80%;
  padding: 4%;
  margin: 10% 10% 0 10%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px; 
  background-color: transparent;
  transition: background-color 0.3s;
  box-shadow: .3rem .8rem 1.2rem rgba(0,0,0,0.35);
  transform: scale(0.9);
}


button:hover {
  outline: 2px solid rgb(108, 108, 231);
}

button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container {
  max-height: 10vw;
  margin-top: 2.4%;
  margin-right: 2vw;
  width: 57vw;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: .2rem .5rem 1rem rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}

.photo-section {
  height: auto;
  width: auto;
  margin: 4% 0 0 7%;
}

.photo-section img {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  cursor: pointer;
}

.text-section {
  margin: 5% 0 2% 4%;
  width: 15rem;
}

.text-section p {
  font-size: 1vw;
  font-style: italic;
}

.upload-section {
  display: grid;
  place-content: center;
  margin: 3vw 2vw 2vw 4vw;
}

.upload-section input[type='file'] {
  
  display: none;
}

.upload-section label {
  display: inline-block;
  border: 2px solid black;
  border-radius: .2rem;
  text-align: center;
  padding: .4rem 1rem;
  font-size: 1vw;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  box-shadow: .3rem .8rem 1.2rem rgba(0,0,0,0.35);
}

label:active {
  transform: scale(0.9);
}

.form-container {
  height: auto;
  margin-top: 2.4%;
  margin-right: 2vw;
  width: 57vw;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1vw;
  box-shadow: .2rem .5rem 1rem rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}

.inner-form-container {
  width: 100%;
}

.inner-form-container h1 {
  padding: 2vw 0 0 3vw;
  font-size: 1.9vw;
  margin-bottom: 5%;
}

.form-section {
  height: auto;
  flex-grow: 1; 
  margin: 0 auto 0 auto; 
  padding: 1vw; 
  display: flex;
  justify-content: space-evenly;
}

.form-container input {
  width: 20vw;
  padding: 0.5vw;
  margin-bottom: 1vw;
  border: 1px solid black;
  border-radius: .3rem;
}

.form-container label {
  border: none;
}

.address-form {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 0 auto; 
  padding: 1vw; 
}

.address input {
  width: 45.4vw;
}

.submit {
  cursor: pointer;
}