* {
  padding: 0;
  margin: 0;
  border: border-box;
}

html {
  font-size: 16px;
  height: 200rem;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  height: 85%;
  width: 20%;
  /* border: 2px solid black; */
  /* background-color: #a0d2eb; */
  position: absolute;
  top: 0;
}

.sidebar-container {
  margin-top: 10%;
  display: flex;
  padding-left: 15%;
  align-items: center;
  height: 3rem;
  color: black;
}

.sidebar-container:hover {
  background-color: antiquewhite;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.sidebar-heading {
  text-align: center;
  margin-top: 5%;
}

.profile-text {
  padding-left: 1rem;
}

.navbar {
  height: 4rem;
  /* border: 2px solid black; */
  background-color: #d0bdf4;
  width: auto;
  margin-left: 20%;
  display: flex;
  align-items: center;
  /* position: fixed; */
}

.nav-search {
  height: 2.5rem;
  width: 30rem;
  border: 2px solid red;
  margin-left: 5%;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.search-bar {
  display: flex;
  width: 100%;
  /* border: 3px solid yellow; */
  align-items: center;
}

.search-bar > input {
  height: 2rem;
  margin-left: 1rem;
  width: 89%;
  /* border: 2px solid green; */
  border: none;
  outline: none;
  background-color: #d0bdf4;
}

::placeholder {
  color: black;
}

.search-icon {
  font-size: 1.6rem;
  cursor: pointer;
}

.other-icons {
  /* border: 2px solid black; */
  height: 2.5rem;
  width: 18%;
  margin-left: 10%;
}

.random i {
  padding-right: 19%;
}

.account-toggle {
  width: 25%;
  height: 50rem;
  /* border: 2px solid black; */
  margin-left: 20%;
}

.accountSettingBox {
  height: auto;
  width: 80%;
  padding: 4%;
  margin: 10% 10% 0 10%;
  overflow: hidden;
  cursor: pointer;
  /* border: none; */
  border-radius: 5px;
  background-color: transparent; /* Make background transparent */
  transition: background-color 0.3s;
}

button:hover {
  /* background-color: aquamarine; */
  outline: 2px solid rgb(108, 108, 231);
}

button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container {
  max-height: 9rem;
  /* margin-top: 1%; */
  width: 53%;
  margin-left: 45%;
  border: 1px solid black;
  /* position: relative;
  top: ; */
  display: flex;
}

.photo-section {
  height: auto;
  width: auto;
  margin: 2rem 0 0 5rem;
}

.photo-section img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
}

.text-section {
  margin: 2rem;
  width: 15rem;
}

.text-section p {
  font-size: 0.9rem;
  font-style: italic;
}
